body {
  background-color: #fafafa;
}

swiper-container {
  width: 100%;
  height: 400px;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
@media only screen and (max-width: 640px) {
  .category-container {
    display: block !important;
  }
  /*  */
  .fashion {
    width: 80% !important;
    height: 200px !important;
    display: block !important;
    margin: 15px auto;
  }
  .category-img {
    width: 100% !important;
    height: 300px !important;
  }
  swiper-container {
    width: 100%;
    height: 170px;
  }

  /* .category-img {
        width: 130px !important;
        height: 130px !important;
    } */

  /* .category {
        font-size: 20px !important;
    } */

  .head-container {
    width: 95% !important;
    /* padding: 10px !important; */
  }

  .head-image {
    width: 100%;
    height: 300px !important;
    object-fit: cover;
    object-position: left;
  }

  .btn {
    padding: 5px !important;
    font-size: 15px !important;
    margin: 20px !important;
    margin-left: 24px !important;
    height: max-content !important;
    position: absolute;
    bottom: 0px;
  }
  .banner {
    padding: 4px !important;
    height: 40px;
  }
  .banner a {
    padding: 5px !important;
    font-size: 12px !important;
  }

  .banner span {
    /* padding: 5px; */
    font-size: 12px !important;
  }
  .search-bar {
    width: 100% !important;
  }
  /* .shop-now {
        font-size: 10px !important;
    }
    .category-head {
        font-size: 14px !important;
    } */
}

.single-product-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 7rem;
}

.search-bar {
  height: 0px;
  transition: all 0.4s ease-in-out;
}

.search-input::placeholder {
  color: white;
}

@media (max-width: 999px) {
  .card-container {
    flex-wrap: wrap !important;
    /* margin: ; */
  }
}
.ipad-nav-icon {
  display: none;
  opacity: 0;
}

@media (max-width: 1024px) {
  .single-product-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    /* gap: 5rem; */
  }

  .desktop-nav {
    display: none !important;
  }
  .hamburger {
    margin-top: 10px;
    display: block !important;
  }
  .nav-mobile {
    display: block;
  }
  .ipad-nav-icon {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease-in-out !important;
  }
}

@media (max-width: 800px) {
  .single-product-container {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    /* gap: 5rem; */
  }
}

.nav-mobile {
  height: 0px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out;
  overflow: hidden !important;
}

/* .nav-mobile {
    display: none;
} */

.banner {
  padding: 10px;
}
.banner a {
  padding: 5px;
  font-size: 18px;
}

.banner span {
  /* padding: 5px; */
  font-size: 17px;
}

.head-image {
  width: 100%;
  height: 370px;
  object-fit: cover;
  object-position: left;
}

.btn {
  position: absolute;
  bottom: 0px;
}

.fashion:hover > .fashion-text {
  margin-top: 0px !important;
}

.shop-now-container:hover {
  gap: 5px !important;
  cursor: pointer;
}

.product-header {
  transition: color 0.2s ease-in;
}

.product:hover .product-header {
  color: red;
}

.mobile {
  display: none !important;
}

@media (max-width: 630px) {
  .desktop {
    display: none !important;
  }

  .mobile {
    display: flex !important;
  }
}

/* Footer Start */
.footer-distributed {
  border-top: #eee 2px solid;
  background: #fafafa;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 50px 60px 40px;
  overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left {
  float: left;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Roboto', cursive;
  margin: 0 0 10px;
}

.footer-distributed h3 span {
  color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #302d2d79;
  margin: 0 0 10px;
  margin-top: 18px;
  margin-bottom: 18px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons {
  margin-top: 40px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  /* width: 35px;
    height: 35px; */
  cursor: pointer;
  background-color: transparent;
  border-radius: 2px;

  /* font-size: 20px; */
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* Footer Right */

.footer-distributed .footer-right {
  float: right;
}

.footer-distributed .footer-right p {
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #333;
}

/* The contact form */

.footer-distributed form {
  display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: transparent;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  /* border: none; */
  resize: none;

  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color: #fafafa;

  width: 400px;
  padding: 18px;
}

.footer-distributed ::-webkit-input-placeholder {
  color: #5c666b;
}

.footer-distributed ::-moz-placeholder {
  color: #5c666b;
  opacity: 1;
}

.footer-distributed :-ms-input-placeholder {
  color: #5c666b;
}

.footer-distributed form input {
  height: 55px;
  margin-bottom: 15px;
}

.footer-distributed form textarea {
  height: 100px;
  margin-bottom: 20px;
}

.footer-distributed form button {
  border-radius: 3px;
  background-color: #fafafa;
  color: #333;
  border: 1px solid #333;
  padding: 15px 50px;
  font-weight: bold;
  float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

#overlay {
  display: none;
  position: absolute;
  width: 160px !important;
  height: 100px !important;
  /* background-size: cover; */
  /* border: 2px solid #555; */
  /* background-color: black; */

  z-index: 1000;
  background-repeat: no-repeat;
}

@media (max-width: 1000px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-company-name {
    font-size: 12px;
  }

  .footer-distributed form input,
  .footer-distributed form textarea {
    width: 250px;
  }

  .footer-distributed form button {
    padding: 10px 35px;
  }
  #image-container {
    width: 300px !important;
    height: 300px !important;
  }
  #overlay {
    /* left: -23px !important; */
    width: 80px !important;
    height: 80px !important;
  }
  .product-container {
    flex-direction: column;
    align-items: center;
  }
  .product-info {
    width: 100% !important;
    margin: 2rem auto !important;
  }
  .product-button {
    padding: 0.6rem !important;
    font-size: 14px !important;
  }
}

@media (max-width: 800px) {
  .footer-distributed {
    padding: 30px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right {
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }

  .footer-distributed .footer-left {
    margin-bottom: 40px;
  }

  .footer-distributed form {
    margin-top: 30px;
  }

  .footer-distributed form {
    display: block;
  }

  .footer-distributed form button {
    float: none;
  }
}

#mouse-overlay {
  cursor: zoom-in;
  position: absolute;
  width: 2em;
  height: 2em;
  transform: translate(-50%, -50%);
  background-color: rgba(245, 245, 245, 0.6);
  border-radius: 50%;
}

#overlay {
  display: none;
}

#image-container:hover #overlay {
  display: inline-block;
}

@media only screen and (max-width: 768px) {
  .image-container {
    width: 55%;
  }
  #overlay {
    margin-left: 70%;
    width: 25%;
    height: 15%;
  }
}

.shopping-cart {
  background: #ffffff;
  box-shadow: 1px 2px 3px 0px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.title {
  height: 60px;
  border-bottom: 1px solid #e1e8ee;
  padding: 20px 30px;
  color: #5e6977;
  font-size: 18px;
  font-weight: 400;
}

.item {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #44434329;
}

/* .item:nth-child(3) {
  border-top: 1px solid #e1e8ee;
  border-bottom: 1px solid #e1e8ee;
} */

.buttons {
  position: relative;
  padding-top: 30px;
  margin-right: 60px;
}
.delete-btn,
.like-btn {
  display: inline-block;
  cursor: pointer;
}
.delete-btn {
  width: 18px;
  height: 17px;
  background: url(&amp;quot;delete-icn.svg&amp;quot;) no-repeat center;
}

.like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  background: url('twitter-heart.png');
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
}

.is-active {
  animation-name: animate;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}

@keyframes animate {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: right;
  }
}

.image {
  margin-right: 50px;
  width: 120px;
  height: 100px;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 115px;
}

.description span {
  display: block;
  font-size: 14px;
  color: #43484d;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939e;
}

.quantity {
  padding-top: 20px;
  margin-right: 60px;
}
.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

button[class*='btn'] {
  width: 30px;
  height: 30px;
  background-color: #e1e8ee;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
/* .minus-btn {
  margin-top: 10px;
}
.plus-btn {
  margin-top: 10px;
} */

button:focus,
input:focus {
  outline: 0;
}

.total-price {
  width: 83px;
  padding-top: 27px;
  text-align: center;
  font-size: 16px;
  color: #43484d;
  font-weight: 300;
}

@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image {
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
  }
  .image img {
    width: 100%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}
