swiper-container {
    width: 100%;
    height: 400px;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
@media only screen and (max-width: 600px) {
    .category-container {
        display: block !important;
    }
    /*  */
    .fashion {
        width: 80% !important;
        height: 200px !important;
        display: block !important;
        margin: 15px auto;
    }
    .category-img {
        width: 100% !important;
        height: 300px !important;
    }
    swiper-container {
        width: 100%;
        height: 170px;
    }

    /* .category-img {
        width: 130px !important;
        height: 130px !important;
    } */

    /* .category {
        font-size: 20px !important;
    } */

    .head-container {
        width: 95% !important;
        /* padding: 10px !important; */
    }

    .head-image {
        width: 100%;
        height: 300px !important;
        object-fit: cover;
        object-position: left;
    }

    .btn {
        padding: 5px !important;
        font-size: 15px !important;
        margin: 20px !important;
        margin-left: 24px !important;
        height: max-content !important;
        position: absolute;
        bottom: 0px;
    }
    .banner {
        padding: 4px !important;
        height: 40px;
    }
    .banner a {
        padding: 5px !important;
        font-size: 12px !important;
    }

    .banner span {
        /* padding: 5px; */
        font-size: 12px !important;
    }
    /* .shop-now {
        font-size: 10px !important;
    }
    .category-head {
        font-size: 14px !important;
    } */
}
.banner {
    padding: 10px;
}
.banner a {
    padding: 5px;
    font-size: 18px;
}

.banner span {
    /* padding: 5px; */
    font-size: 17px;
}

.head-image {
    width: 100%;
    height: 370px;
    object-fit: cover;
    object-position: left;
}

.btn {
    position: absolute;
    bottom: 0px;
}

.fashion:hover > .fashion-text {
    margin-top: 0px !important;
}

.shop-now-container:hover {
    gap: 5px !important;
    cursor: pointer;
}
